hello{
    text-size-adjust: 100;
}
html{
    background-image:url('300.gif'); background-repeat:repeat;
}
body{
    color: #6067c1;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-shadow: 1px 
}
h1 {
    text-align: center;
}
div {
    display: inline-block;
}
#table {
    display: block;
    margin-top: 20px;
}
th, td {
    border: 1px solid white;
    padding: 5px;
}